.testimony-wrapper.jsx-c48c121c57dfff6c {
}
.text-center {
    text-align: center;
}
.p-3 {
    padding: 3rem;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: Poppins,arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 15px;
    font-family: Poppins,arial,sans-serif!important;
    color: #16252d;
}
:root {
    --primary-color: #29b475;
    --black-color: #16252d;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.pb-0 {
    padding-bottom: 0;
}
.p-3 {
    padding: 3rem;
}
.justify-center {
    justify-content: center;
}
.d-flex {
    display: flex;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: Poppins,arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 15px;
    font-family: Poppins,arial,sans-serif!important;
    color: #16252d;
}
:root {
    --primary-color: #29b475;
    --black-color: #16252d;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}
p{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    background-color: aquamarine;
    font-weight: bold;
  
}
p span{
    color: green;
}